@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --scale: 0.07vw;

  --primary: #1976D2;
  --primary_hover: #1565C0;
  --secondary: #0288D1
}

html {
  font-size: var(--scale);
}

@media only screen and (max-width: 639px) {
  :root {
    --scale: 0.33vw;
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: #EFEFEF;
  font-size: 16rem !important;
}

* {
  box-sizing: border-box;
  font-family: 'Onest';
}

.custom-shadow {
  box-shadow: 0rem 3rem 1rem -2rem rgba(0, 0, 0, 0.2), 0rem 2rem 2rem 0rem rgba(0, 0, 0, 0.14), 0rem 1rem 5rem 0rem rgba(0, 0, 0, 0.12);
}

.custom-shadow:hover {
  box-shadow: 0rem 2rem 4rem -1rem rgba(0, 0, 0, 0.2), 0rem 4rem 5rem 0rem rgba(0, 0, 0, 0.14), 0rem 1rem 10rem 0rem rgba(0, 0, 0, 0.12);
}

.custom-shadow:active {
  box-shadow: 0rem 5rem 5rem -3rem rgba(0, 0, 0, 0.2), 0rem 8rem 10rem 1rem rgba(0, 0, 0, 0.14), 0rem 3rem 14rem 2rem rgba(0, 0, 0, 0.12);
}

.custom-shadow:disabled:hover {
  box-shadow: 0rem 3rem 1rem -2rem rgba(0, 0, 0, 0.2), 0rem 2rem 2rem 0rem rgba(0, 0, 0, 0.14), 0rem 1rem 5rem 0rem rgba(0, 0, 0, 0.12);
}

.custom-shadow:disabled:active {
  box-shadow: 0rem 3rem 1rem -2rem rgba(0, 0, 0, 0.2), 0rem 2rem 2rem 0rem rgba(0, 0, 0, 0.14), 0rem 1rem 5rem 0rem rgba(0, 0, 0, 0.12);
}

.custom-input {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 100%;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  white-space: nowrap;
  width: 0;
}

@font-face {
  font-family: "Onest";
  src: url(/public/fonts/Onest-Regular.ttf) format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Oddval";
  src: url(/public/fonts/Oddval-SemiBold.ttf) format('truetype');
  font-style: normal;
  font-weight: 400;
}

.checkbox-round {
  width: 1.3em;
  height: 1.3em;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #ddd;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

.checkbox-round:checked {
  background-color: gray;
}

.gradient {
  background: linear-gradient(to bottom right, #D0D0D0 7%, #E0E0E0 55%, #D0D0D0 100%);
  background-size: 200% 100%;
  animation: gradient-animation 2000ms linear infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}